<header class="header">
  <h2>GESTIONE Anticipi Fatture</h2>

  <nav class="nav">
    <a routerLink="/dashboard">Dashboard</a>

    <div class="dropdown">
      <span class="dropdown-title">Lavorazioni ▼</span>

      <div class="dropdown-menu">
        <a routerLink="/lavorazioni/italia">Scrivania Italia</a>
        <a routerLink="/lavorazioni/estero">Scrivania Estero</a>
        <a routerLink="/lavorazioni/incassi">Incassi</a>
      </div>
    </div>

    <a class="disabled-link">Amministrazione</a>
  </nav>
</header>
